body {
  font-family: $font-family-primary;
  line-height: 1.25;
}

.viewport-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.content-wrapper {
  justify-self: center;
  width: calc(100vw - 2rem);

  @media (min-width: 75rem) {
    width: 75rem;
  }
}

.form-label {
  font-family: $font-family-primary;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-field {
  background-color: $color-field-bg;
  border-radius: $border-radius-lg;
  border: none;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: $color-black;
  font-family: $font-family-primary;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  outline: none;
  padding: 1rem;

  &::-webkit-input-placeholder {
    color: $color-input-placeholder;
  }

  &:-ms-input-placeholder {
    color: $color-input-placeholder;
  }

  &:-moz-placeholder {
    color: $color-input-placeholder;
  }

  &::placeholder {
    color: $color-input-placeholder;
  }
}

.field_with_errors {
  display: inline;

  input {
    background-color: $color-danger-light;
    color: $color-danger-dark;
  }
}

.field-error {
  color: $color-danger;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
